.bg {
    /* The image used */

    background-image: 
        url("../../assets/img/1.png");
    /* Full height */
    height: 920px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}