.bg {
    /* The image used */

    background-image: 
        url("../../assets/img/1.png");
    /* Full height */
    height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1{
    background-color: #d5fefd;
    background-image: linear-gradient(315deg, #8faedc 0%, #9f9e9f 74%);
    background-size: cover;
}

.jb1 {

    width: 1210px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}