.bg {
    /* The image used */

    background-image: 
        url("../../assets/img/1.png");
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}



.bg1 {
   
    background-image: linear-gradient(315deg, #bdd4ef 0%, #b1a3b1 74%);

    background-size: cover;
}

.jb1 {

    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.r1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}