<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <h3 class="text-white"><b>Go<span class="text-danger">BUS</span></b></h3>
            <p style="color: white;"># India's Top Rated Bus Booking Platform</p>
        </a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-danger" routerLink="/userLogin"><b>Login</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" routerLink="/addUser"><b>Register</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" routerLink="/aboutus"><b>About Us</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" routerLink="/contactus"><b>Contact Us</b></a>
            </li>
        </ul>
    </div>
</nav>
<body class="img">


<br><br><br>
    <title>Contact Us - Bus Booking Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
 

<div class="container contact-container">
    <h2>Contact Us</h2>
    <p class="lead">For any inquiries, assistance, or feedback, please don't hesitate to reach out to our dedicated customer support team.</p>
    
    <div class="contact-details">
        <p><strong>Email:</strong> <a href="mailto:customer_support@gmail.com">customer_support@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:1-800-123-4567">1-800-123-4567</a></p>
        
        <h4>Visit Us</h4>
        <p>Bus Booking Bank Headquarters</p>
        <p>123 Bus Avenue</p>
        <p>City Junction</p>
        <p>Bangalore, IN 560037</p>
        
        <h4>Website</h4>
        <p><a href="http://localhost:4200">www.gobus.com</a></p>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<app-footer></app-footer>