.bg {
  /* The image used */

  background-image: 
    url("../../assets/img/1.png");
  /* Full height */
  height: 720px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  height: 720px;
  padding-bottom: 150px;
  padding: 25px;
}